.profile {
    text-align: left;
    padding-left: 10px;
}
.likebutton{
    background-color: none;
    padding:0em;
    padding-bottom: 1em;
    margin: 0;
    border: none;
    text-align: center;
}
.likeviewreportContainer{
    display: grid;
    grid-template-rows: 3fr;
}