.main-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bgcolor{
    background: none;
}

.block{
    display:inline;
}

.alignright{
    float: right;
}

.alignleft{
    float: left;
}

.scoretask{
    margin: auto;
    width: 50%;
    border: 2px solid DarkGrey;
    padding: 10px;
}

