.bigupload{
    width: 100%;
}

.textup{
    width: 10%;
}

.uploadfile {
    width: 90%;
}

.cancel-button {
    float: right;
}

.submit-button {
    float: right;
    margin-right: 10px;
}

.div-addsection{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.button-addsection{
    padding: 0px;
    width: 100%;
    height: 40px;
}

.addsection{
    height: 30x;
    width: 30px;
}
.div-sectionname{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-div {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-page-pic{
    height: 70px;
    width: 70px;
}

.profile-info{
    padding-left: 100px;
}
/*
.show-blog{
    color: rgb(153, 153, 153);
    border-bottom: rgba(0,0,0,.125) solid 1px;
}
*/
/* for Navbar_admin */
.bgNavbar{
    background: rgb(32,124,27);
    background: linear-gradient(90deg, rgba(32,124,27,1) 0%, rgba(56,148,70,1) 27%, rgba(123,196,109,1) 100%);
}

.picture-padding{
    margin-right: 30px;
    height: 40px;
    width: 40px;
}

.size-KU-knowmore{
    font-size: 30px;
}

.size-sign{
    font-size: 20px;
}
/* for list report */
.size-text-report{
    font-size: 16px;
    text-align: center;
    display: inline;
}

/* for button X */
.button-x{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: rgb(255,103,103);
    background: radial-gradient(circle, rgba(255,103,103,1) 0%, rgba(189,0,38,1) 100%);
}
.size-x{
    font-size: 11px;
}
/* */
.Center-text{
    text-align: left;
}

/* color */
.color-green{
    background: green;
}


.show-blog{
    color: rgb(153, 153, 153);
    border-bottom: rgba(0,0,0,.125) solid 1px;
    width: 80%;
}

.link-no-border{
    border: 0px;
}

.bg-black{
    background-color: black;
}

.likebar-pic{
    height: 33px;
    width: 33px;
}

.delete-button{
    float: left;
}

.author-user{
    float: right;
}

.blog-fl{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.blog-fr{
    float: right;
}

.profile-in-userpage{
    float: left;
    height: 100%;
    width: 100%;
}

.userpage-top-div{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 250px;
}

.show-all-section{
    padding: .75rem 1.25rem;
    width: 100%;
    display:grid;
    grid-template-columns: 5fr 2fr;
    border-bottom: rgba(0,0,0,.125) solid 1px;
    background-color: rgb(229, 226, 226);
    color: black;
    transition: 0.4s;
  }
  
  .show-all-section:hover{
    background-color: #6c7179;
    padding: .75rem 1.25rem;
    width: 100%;
    color: white;
  }
  .d-flex{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1x0px;
    border-radius: calc(0.25rem - 1px);
    background-color: #66CC66;
  }