.bigupload{
    width: 100%;
}

.textup{
    width: 10%;
}

.uploadfile {
    width: 90%;
}

.cancel-button {
    float: right;
}

.submit-button {
    float: right;
    margin-right: 10px;
}

.div-addsection{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.button-addsection{
    padding: 0px;
    width: 100%;
    height: 40px;
}

.addsection{
    height: 30x;
    width: 30px;
}
.div-sectionname{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-div {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-page-pic{
    height: 70px;
    width: 70px;
}

.profile-info{
    padding-left: 100px;
}

.show-blog{
    color: rgb(153, 153, 153);
    border-bottom: rgba(0,0,0,.125) solid 1px;
}
/* for Navbar_admin */
.bgNavbar{
    background: rgb(32,124,27);
    background: linear-gradient(90deg, rgba(32,124,27,1) 0%, rgba(56,148,70,1) 27%, rgba(123,196,109,1) 100%);
}

.picture-padding{
    margin-right: 30px;
    height: 40px;
    width: 40px;
}

.size-KU-knowmore{
    font-size: 30px;
}

.size-sign{
    font-size: 20px;
}
/* for list report */
.size-text-report{
    font-size: 16px;
    text-align: center;
}

/* for button X */
.button-x{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: rgb(255,103,103);
    background: radial-gradient(circle, rgba(255,103,103,1) 0%, rgba(189,0,38,1) 100%);
}
.size-x{
    font-size: 11px;
}
/* */
.Center-text{
    text-align: left;
}