.container_real{
    border:none
}
.blog_container{
    border-radius: 0 0 0 0;
    border: 1px;
    border-color: #D2D2D2;
    border-style: solid;
    padding:3em
}

.Col{
    margin-bottom: 1em;
}

.input_blogname{
    width:100%;
}
.create_kl{
    background-color: #73C0EA;
    color: white;
    font-weight: bold;
    border-radius: 100% 100% 0 0;
    text-align: center;
    padding:2em
}

.create-kl-font-size{
    font-size:30px;
}

.create_rw{
    background-color:#A3EBA3;
    color: white;
    font-weight: bold;
    border-radius: 100% 100% 0 0;
    text-align: center;
    padding:2em
}