.filecontainer{
    width:100%;
    padding:0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:1em
}
.outercont{
    margin: 0em;
    width: 30rem;
}
.openfile{
    width:70%;
}
.deletefile{
    justify-content: right;
    position: right;
}

.borderallfiles{
  border: rgba(0,0,0,.125) solid 1px;
  border-top: 0px;
  border-radius: calc(0.25rem - 1px);
}
