.display{
    padding-left: 100px;
    padding-top: 20px;
}

.display_read{
    padding-top: 20px;
    padding-left: 100px;
}

.uploadtest{
    padding-left: 100px;
    padding-top: 20px;
}

.read_button{
    padding-left: 100px;
    padding-top: 20px;
}

.knowledge_button{
    padding-left: 100px;
    padding-top: 10px;
}

.review_button{
    padding-left: 100px;
    padding-top: 10px;
}

.editreview_button{
    padding-left: 100px;
}