.bigupload{
    width: 100%;
}

.textup{
    float: left;
}

.uploadfile {
    width: 93%;
    height: 48px;
    float: left;
}

.cancel-button {
    float: right;
}

.submit-button {
    float: right;
    margin-right: 5px;
}