.bigupload{
    width: 100%;
}

.textup{
    width: 10%;
}

.uploadfile {
    width: 90%;
}

.cancel-button {
    float: right;
}

.submit-button {
    float: right;
    margin-right: 10px;
}

.div-addsection{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.button-addsection{
    width: 100%;
}

.addsection{
    height: 40px;
    width: 40px;
}
.div-sectionname{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-div {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-page-pic{
    height: 300px;
    width: 300px;
}

.profile-info{
    padding-left: 100px;
}

.show-blog{
    margin-top: 20px;
}