.min-h{
    height: 80px;
}

.hot-kl-noborder-top{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: rgba(0,0,0,.125) solid 1px;
    border-top: 0px;
    border-radius: calc(0.25rem - 1px);
  }
  .div-sectionname-y{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: none;
  }
