.profile-pic {
  height: 33px;
  width: 33px;
  margin-left: 20px;
}

.search-pic {
  height: 25px;
  width: 25px;
  margin-left: 25px;
  margin-right: 15px;
}
.main-div-main {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.search-bar {
  width: 90%;
  height: 40px;
  float: left;
}

.filter-button {
  width: 10%;
  height: 40px;
}

.hot-kl{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border: rgba(0,0,0,.125) solid 1px;
  border-bottom: 0px;
  border-radius: calc(0.25rem - 1px);
}

.show-blog{
  padding: .75rem 1.25rem;
  width: 100%;
}

.show-blog:hover{
  background-color: rgb(163, 163, 163);
  padding: .75rem 1.25rem;
  width: 100%;
  color: gray;
}

.card-header{
  background-color: #343a40!important;
  color: #fff;
  font-size: 1.25rem;
}

.white-font{
  color: white;
}

.black-font{
  color:black;
}